@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #5C6266;
  margin: 0rem 3rem;
  overflow-x: hidden;
}

html, body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 1.5rem 0;
  }
}